<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="PAFContext" connectionString="data source=SYEDSHAH\MSSQLSERVER14; initial catalog=NxPaf; integrated security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="PAF.Services.AddressService" behaviorConfiguration="AddressServiceTypeBehaviour">
        <endpoint address="" binding="basicHttpBinding" contract="PAF.Contracts.IAddressService" />
        <!--<endpoint address="" binding="webHttpBinding" contract="PAF.Contracts.IAddressService" behaviorConfiguration="webHttp" />-->
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="PAF.Services.AddressService, PAF.Services"
             relativeAddress="AddressService.svc"
      factory="Autofac.Integration.Wcf.AutofacServiceHostFactory,  Autofac.Integration.Wcf" />
      </serviceActivations>
    </serviceHostingEnvironment>
  <behaviors>
    <serviceBehaviors>
      <behavior name="AddressServiceTypeBehaviour">
        <serviceMetadata httpGetEnabled="true"/>
        <serviceDebug includeExceptionDetailInFaults="true"/>
      </behavior>
    </serviceBehaviors>
  <!--<endpointBehaviors>
    <behavior name="webHttp">
      <webHttp/>
    </behavior>
  </endpointBehaviors>-->
  </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>